.random-planet {
  display: flex;
  padding: 1rem;
  text-align: center;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
