.item-detail {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.item-detail .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.item-detail .list-group-item {
  padding: .25rem;
}

.item-detail .list-group-item .term{
  margin-right: .5rem;
}
